/*
Ghadir Alfadhl
Lab2
ITS362
01/26/2021

*/


body { 
    background-color:#f8d6a9; 
    color:black; 
    font-family: Verdana, Arial, sans-serif; 
    
 }

.wapper {
    margin: 0 0 0 350px;
    width: 1250px;
    background-color: white;
    position: relative;
    top: -20px; 
   
}

header {
    /*width: 100%; */
    height: 14em;
    /*background: #353331 50%; */
    position: relative;
    margin: 0;
    padding: 0;
    left: -10px;
    top: -20px;
    margin-right: -50px;
    
    /*Color Gradient */
    background: linear-gradient(to bottom, #000000 50%, #ffe3c1 100%);
          
}

#logo {
    background-repeat: no-repeat;
    max-width: 300px;
    margin-top: 25px;
    margin-left: 10px;

}
h1 {
    padding-left: 500px;
    margin-top: -140px;
    color: rgb(247, 221, 183); 
}
main {
	padding: 0em 2em 2em 2em;
	
}


button {
    align-items:center;
       
}
 
table, th, td{
    border: 1px solid rgb(0, 0, 0);
} 

td {
    text-align: center;
}
th {
    text-align: center;
} 




input[type="number"] {
    width: 100%;
    box-sizing: border-box;                
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

#gradingScale {
    text-align: center;
}

#table2, #table3, #table4, #table5, #table6, #table7 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
    text-align: center;
}



/* .table2 {
    border: 1px solid rgb(0, 0, 0)
}

#td1 {
    text-align:left;
}  

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  } */